[Desktop Entry]
Name=Ryzen Master Commander
Comment=AMD Ryzen TDP and Fan Control
GenericName=Hardware Control
Exec=ryzen-master-commander %U
Icon=ryzen-master-commander
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=AMD;Ryzen;TDP;Fan;Control;
StartupNotify=true
StartupWMClass=ryzen-master-commander
Path=/usr/share/ryzen-master-commander
X-GNOME-UsesNotifications=true