[Desktop Entry]
Name=Ryzen Master Commander
Comment=AMD Ryzen TDP and Fan Control
GenericName=Hardware Control
Exec=ryzen-master-commander
Icon=/usr/share/icons/hicolor/128x128/apps/ryzen-master-commander.png
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=AMD;Ryzen;TDP;Fan;Control;
StartupNotify=true